
<div class="container">
	<div class="dashboard col-6">
	
	<h1>{{user.firstName}}  {{user.lastName}} </h1>
	<p><strong>Your email address:</strong> {{user.email}}</p>
	<p><strong>Your username:</strong> {{user.username}}</p>

</div>

<div class="dashboard col-6">
	<h3>Your Stats</h3>
	<p><strong>Your rating:</strong> 2732</p>
	<p><strong>Your win percentage:</strong> 67%</p>
	
</div>
</div>

