<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/game.css'/>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="chat-room">
            <a href="/lobby" class="pull-right btn btn-warning" data-original-title="" title=""> <i class="fa fa-sign-out" aria-hidden="true"></i>  Leave Game</a>

          <div id="game">
            <div id="board"></div>
            <div id="pieces"></div>
          </div>
        </div>
      </div>

          <div class="col-4">
              <div class="message-box">
                  <ul id="messages"></ul>
              </div>

            <form class="form-chat form-inline" action="">
              <div class="form-group">
                <input id="input-box" class="form-control input-lg" autocomplete="off" />
              </div>
              <button class="btn-lg btn-info">Send</button>
            </form>
          </div>
            

        </div>
      </div>

   <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>

    <script>
    var socket = io('/game');
    let gameCode;
    function guid() {
      function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1);
      }
      return s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4();
    }

    function getQueryVariable(variable) {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
    }

      $(function () {
        gameCode = getQueryVariable('gameID');
        if(!gameCode) {
          gameCode = guid();
        }
        var obj = { name: '{{user.username}}', gameID: gameCode, isGameFull: getQueryVariable('isGameFull')};
        console.log('Game Object: ', obj);
        socket.on('connect', function() {
          console.log("Connected to server!");
          console.log("Socket ID: ", socket.id);
          console.log("Game ID", obj.gameID)
          socket.emit('join', obj, function (err) {
            if (err) {
              alert(err);
            } else {
              console.log('No error');
            }
          });
        });

        $('form').submit(function(){
          socket.emit(obj.gameID, '{{user.username}}: ' + $('#input-box').val());
          $('#input-box').val('');
          console.log("Room : ", obj.gameID);
          return false;
        });

        socket.on(obj.gameID, function(msg){
          $('#messages').append($('<li>').text(msg));
          window.scrollTo(0, document.body.scrollHeight);
        });

      });
    </script>


    <script type ="text/javascript" src="/js/checkerLogic.js"></script>
    <script type ="text/javascript" src="/js/checkers.js"></script>
  </body>
</html>
