<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/game.css'/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chat-room">
            <a href="/lobby" class="pull-right btn btn-default" data-original-title="" title="">- Leave Game</a>

            <div class="message-box">
                <ul id="messages"></ul>
            </div>

            <form class="form-chat form-inline" action="">
              <div class="form-group">
                 <input id="input-box" class="form-control input-lg" autocomplete="off" />
              </div>
              <button class="btn-lg">Send</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>

    function guid() {
      function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1);
      }
      return s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4();
    }

    function getQueryVariable(variable) {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
    }

      $(function () {
        var socket = io('/game');
        var gameCode = getQueryVariable('gameID');
        if(!gameCode) {
          gameCode = guid();
        }
        var obj = { name: '{{user.username}}', gameID: gameCode, isGameFull: getQueryVariable('isGameFull') };
        console.log('Game Object: ', obj);
        socket.on('connect', function() {
          console.log("Connected to server!");
          console.log("Socket ID: ", socket.id);
        //   console.log(localStorage.getItem("localgameID"));
      //  const localGame = localStorage.getItem("localgameID");
        //  console.log("WTF: ",localGame);

        socket.emit('join', obj, function (err) {
          if (err) {
            alert(err);
          } else {
            console.log('No error');
          }
        });
        // if(localGame == null) {
        //   localStorage.setItem("localgameID", obj.gameID);
        //   console.log("Game ID: ", obj.gameID)
        // } else if (localGame.length == 23 && localGame != obj.gameID) {
        //   localStorage.setItem("localgameID", obj.gameID);
        //   console.log("Game ID: ", obj.gameID)
        //     socket.emit('join', obj, function (err) {
        //       if (err) {
        //         alert(err);
        //       } else {
        //         console.log('No error');
        //       }
        //     });
        // }

        });

        socket.on('disconnect', function() {
          // localStorage.setItem("localgameID", null);
          // socket.emit('join', obj, function (err) {
          //   if (err) {
          //     alert(err);
          //   } else {
          //     console.log('No error');
          //   }
          // });
        });

        $('form').submit(function(){
          socket.emit(obj.gameID, '{{user.username}}: ' + $('#input-box').val());
          $('#input-box').val('');
          console.log("Room : ", obj.gameID);
          return false;
        });

        socket.on(obj.gameID, function(msg){
          $('#messages').append($('<li>').text(msg));
          window.scrollTo(0, document.body.scrollHeight);
        });

      });
    </script>
  </body>
</html>
