<div class="container">
  <div class="row">
    <div class="col-8">
      <a href="/lobby" class="pull-right btn btn-lg btn-warning" data-original-title="" title=""><i class="fa fa-sign-out" aria-hidden="true"></i>  Leave Game</a>
      <div class="chat-room">
        <div id="game">
          <div id="board"></div>
          <div id="pieces"></div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="message-box">
        <ul id="messages"></ul>
      </div>

      <form class="form-chat form-inline" action="">
        <div class="form-group">
          <input id="input-box" class="form-control input-lg" autocomplete="off" />
        </div>
        <button class="btn-lg btn-info">Send</button>
      </form>
    </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Game Over!</h5>
      </div>
      <div class="modal-body">
        <h3 id = "modalBodyText"></h3>
      </div>
      <div class="modal-footer">
        <a href="/lobby">
        <button type="button" class="btn btn-primary" data-dismiss="/lobby"> Go To Lobby</button>
        </a>
      </div>
    </div>
  </div>
</div>

  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/js/board.js"></script>
<script type="text/javascript" src="/js/checkers.js"></script>
<script type="text/javascript" src="/js/game.js"></script>
