body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar {
  z-index:1;
}
.form-chat {position: fixed; bottom: 0;}
.form-chat input { border: 0; padding: 10px; margin-right: .5%; }
.form-chat button { background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; width: 800px;}
#messages li:nth-child(odd) { background: #eee; }
#messages {
  margin-bottom: 40px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
#input-box {width: 800px;}

.fa-delicious {
	float: left;
	font-size: 2.5em;
	padding-top: 7px;
	margin-right: 4px;

}

div#game {
  position:relative;
}

div#board {
  float:left;
  
  height:386x;
  width:386px;
  
  border-style:solid;
  border-width:9px;
  border-color:#DEB887;
}

div.square {
  
  float:left;
  
  position:relative;
  
  width:46px;
  height:46px;
  border-width:2px;
  
  
  border-right-style:solid;
  border-bottom-style:solid;
  
  border-color:#444;
}

div.square.movable:hover {

  -webkit-box-shadow: inset 0px 0px 8px #FFD700;
     -moz-box-shadow: inset 0px 0px 8px #FFD700;
          box-shadow: inset 0px 0px 8px #FFD700;
  cursor:pointer;
}

/* the bottom row */
div.square:nth-last-child(-n + 8) {
  border-bottom-style:none;
}

/* the sides */
div.square:nth-child(8n) {
  border-right-style:none;
}

div.square.light {
  background-color:#ccc;
}

div.square.dark {
  background-color:#333;
}

div#pieces {
  position:absolute;
  /* 9 px puts us inside of the board's borders;*/
  left:9px;
  top:9px;
  background-color:green;
}

div.piece {
  position:absolute;
  width:32px;
  height:32px;
  margin:7px;
  
  -webkit-box-shadow: 0px 0px 3px #666;
     -moz-box-shadow: 0px 0px 3px #666;
          box-shadow: 0px 0px 3px #666;
  
  -webkit-border-radius:16px;
     -moz-border-radius:16px;
          border-radius:16px;
          
  background-color:blue;
          
}

div.piece:hover {
  -webkit-box-shadow: 0px 0px 8px #FFD700;
     -moz-box-shadow: 0px 0px 8px #FFD700;
          box-shadow: 0px 0px 8px #FFD700;
  cursor:pointer;
}

div.piece.selected {
  -webkit-box-shadow: 0px 0px 8px #FFD700;
     -moz-box-shadow: 0px 0px 8px #FFD700;
          box-shadow: 0px 0px 8px #FFD700;
}
  
div.piece.light {
  background-color:red;
}

div.piece.dark {
  background-color:black;
}

div#meta {
  float:right;
}

