body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 30px;

}

a {
  color: #00B7FF;
}
.navbar {
  z-index:1;
}
.form-chat {
  position: fixed; 
  bottom: 0;
  margin: auto;  
  width: 33%; 
}
.form-chat input { 
  border: 0; 
  padding: 10px;
  border-radius: 2px;
}

.form-chat button { 
  border: none; 
  padding: 10px; 
  right: 0px;
  float: right;
}

#messages li { 
  text-transform: capitalize;
  padding: 5px 10px;
  margin-bottom: 1px;
}
#messages li:nth-child(odd) { 
  background: #f1f1f1; 
}

#messages {
  list-style-type: 
  none; 
  margin-bottom: 40px;
  bottom: 0;
  position: fixed;
  width: 33%; 
  padding: 0;
  max-height: 85vh;
  overflow-y: scroll;
}

#input-box {
  display:block;
  width: 350px;
}

.game-list {
  position: fixed;
  left: 0; 
  top: 0; 
  width: 200px; 
  margin-left: 10px; 
  margin-top: 3.5%; 
}

.game-list ul {
  list-style-type: none; 
  margin: 0;
  padding: 0; 
/*  border-style: solid; 
  border-width: 2px; 
  border-color: #000;*/ 
}

#games li {
  background: #f1f1f1;
  text-transform: capitalize;
  height: 40px; 
  line-height: 40px; 
  padding-left: 20px;
}

#games li:nth-child(2n){
  background: #fff
}

.game-list p{
  position: fixed; 
  left: 0;
  top: 0 
}

.col-8 {
  position: fixed;
  display: inline-block;
  margin : 0;
  padding : 50px;
  width: 66%;
  height:100vh;

}
.col-4 {
  display: inline-block;
  margin : 0;
  padding : 0;
  width: 33%;
  height:100vh;
  float: right;
}

.container {
  margin: 0;
  width: 100%; 
}
