body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

.main-container {
  width: 100vw;
  height: 100vh; 
  display: flex;
}

.login-container {
  padding-top: 50;
  flex-direction: row;
  display: flex; 
  align-content: center;
  justify-content: center;  
  flex: 1;
}


.login-form-container {
  align-content: center;
  justify-content: center;  
  display: flex;
  flex-direction: column;
  flex: .25;
}

.form-control, .btn {
  border-radius: 0px;
}

#gameGenerate {
  color: #4BB543;
  float: left;
  margin-top: -50px;
}

#leaveGame {
  float: left;
  margin-top: -50px;
  margin-left: 15px;
  width: 120px;
}

#drawGame {
  width: 120px;
  padding-left: 5px;
  margin-left: 15px;
}


.dashboard {
  float: left;
  margin-right: 20%;
}

#gameOwner {
  margin-top: 410px;
  margin-left: 10px;
  padding-left: 38%;
  text-transform: capitalize;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #e7e7e7;
}

#gameOpponent {
  padding-left: 38%;
  margin-bottom: 10px;
  margin-left: 10px;
  text-transform: capitalize;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #D5DDE6;
}

#info-body {
  margin: 0 20% 0 20%;
}

.page-header h1 {
  padding-top: 0px;
  margin-left: 20%;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
}


.chat-room {
  background-color: #aaaaaa;
}

form div p {
  color: #767676;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  line-height: 0.2em;
  margin-top: 50px;
}

form div p span {
  background: #fff;
  padding: 0 10px;
}

#fname {
  float: left;
  width: 48%;
}

#lname {
  float: right;
  width: 48%;
}

.fa-delicious {
  float: left;
  font-size: 2.5em !important;
  padding-top: 7px;
  margin-right: 4px;
}

span#sizing-addon2.input-group-addon{
  width: 10%;
}

div.form-group.input-group.has-feedback{
  width: 100%;
}

#warning {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

.navbar {
  z-index: 1;
}

.form-chat {

}

.form-chat input {

}

.form-chat button {

}

.message-box {
  background-color: #aaaaaa;
  border: 0;
}

ul {
  -webkit-padding-start: 0px;
}

#messages li {
  width: auto;
  height: auto;
  background: #66aadc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5 px;
  margin: 5px;
  color: #000000;
  font-size: 12px;
  padding: 10px;
}

#messages li:nth-child(odd) {
  /*background: #eee;*/
}

#messages {
  list-style-type: none;
  overflow-y: scroll;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 2px;
}

.game-list {
  position: fixed;
  left: 0;
  top: 0;
  width: 600px;
  margin-top: 50px;
  margin-left: 10px;
  height: 50%;
}

.btn {
  border-radius: 2px !important;
}

.game-list ul {
  list-style-type: none;
  margin: 0 !important;
  border-top: 2px solid black; 
}


.game-list a {
  color: #00B7FF;
  vertical-align: middle;
  padding: 8px 10px 10px 10px;
}

#game {
  left: 23%;
}

#games li {
  background: #f1f1f1;
  text-transform: capitalize;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  vertical-align: middle;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#games li:nth-child(2n) {
  background: #b2d4ed
}

.game-list p {
  position: fixed;
  left: 0;
  top: 0;
}

.col {
  position: fixed;
  display: inline-block;
  margin: 0;
  height: 100%;
  width: 45%;
}

.col-4 {
  display: inline-block;
  margin-right: 5%;
  padding-right: 2%;
  height: 100%;
  float: right;
}

.col-md-auto {
  float: right;
  padding: 50px 80px 50px 10px;
  height: 100%;
  width: 55%;
}

.container {
  margin: 0;
  width: 100%;
  overflow: scroll;
}

.btn {
  border-radius: 2px !important;
}

.your-turn {
  background: #00960c !important;
  color: #FFF;
}

.player-exit {
  background: #960000 !important;
  color: #FFF;
}

div#game {
  position: relative;
}

div#board {
  float: left;
  height: 386x;
  width: 386px;
  border-style: solid;
  border-width: 9px;
  border-color: #DEB887;
}

div.square {
  float: left;
  position: relative;
  width: 46px;
  height: 46px;
  border-width: 2px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #444;
}

div.square.movable:hover {
  -webkit-box-shadow: inset 0px 0px 8px #FFD700;
  -moz-box-shadow: inset 0px 0px 8px #FFD700;
  box-shadow: inset 0px 0px 8px #FFD700;
  cursor: pointer;
}

div.square:nth-last-child(-n + 8) {
  border-bottom-style: none;
}

div.square:nth-child(8n) {
  border-right-style: none;
}

div.square.light {
  background-color: #ccc;
}

div.square.dark {
  background-color: #333;
}

div#pieces {
  position: absolute;
  /* 9 px puts us inside of the board's borders;*/
  left: 9px;
  top: 9px;
  background-color: green;
}

div.piece {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 7px;
  -webkit-box-shadow: 0px 0px 3px #666;
  -moz-box-shadow: 0px 0px 3px #666;
  box-shadow: 0px 0px 3px #666;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: blue;
}

div.piece:hover {
  -webkit-box-shadow: 0px 0px 8px #FFD700;
  -moz-box-shadow: 0px 0px 8px #FFD700;
  box-shadow: 0px 0px 8px #FFD700;
  cursor: pointer;
}

div.piece.selected {
  -webkit-box-shadow: 0px 0px 8px #FFD700;
  -moz-box-shadow: 0px 0px 8px #FFD700;
  box-shadow: 0px 0px 8px #FFD700;
}

div.piece.light {
  background-color: red;
}

div.piece.king {
  background-image: url('http://i.imgur.com/HYQkl.png');
  background-repeat: no-repeat;
  background-position: center;
}

div.piece.dark {
  background-color: black;
}

div#meta {
  float: right;
}
