body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 100px;
}

a {
  color: #00B7FF;
}

.form-control, .btn {
  border-radius: 0px;
}

.dashboard {
  float: left;
  margin-right: 20%;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
}

.login, .signup {
  width: 30%;
  margin: 25px auto;
}

form div p {
  color: #767676;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  line-height: 0.2em;
  margin-top: 50px;
}

form div p span {
  background: #fff;
  padding: 0 10px;
}

#fname {
  float: left;
  width: 48%;
}

#lname {
  float: right;
  width: 48%;
}

.fa-delicious {
  float: left;
  font-size: 2.5em !important;
  padding-top: 7px;
  margin-right: 4px;
}

.navbar {
  z-index: 1;
}

.form-chat {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 33%;
}

.form-chat input {
  border: 0;
  padding: 10px;
  border-radius: 2px;
}

.form-chat button {
  border: none;
  border-radius: 2px;
  padding: 10px;
  right: 0px;
  float: right;
}

#messages li {
  /* padding: 5px 10px; */
  padding: 7px;
  position: relative;
  width: auto;
  height: auto;
  background: #5b8ef9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: #FFF;
}

#messages li:nth-child(odd) {
  /*background: #eee;*/
}

/* #messages::after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #205EE0;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 50%;
  margin-top: -15px;
} */

#messages {
  list-style-type: none;
  margin-bottom: 40px;
  bottom: 0;
  position: fixed;
  width: 50%;
  padding: ;
}

#input-box {
  display: block;
  width: 350px;
}

.game-list {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  margin-left: 10px;
  margin-top: 3.5%;
}

.btn {
  border-radius: 2px !important;
}

.game-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*  border-style: solid;
  border-width: 2px;
  border-color: #000;*/
}

#games li {
  background: #f1f1f1;
  text-transform: capitalize;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-top: 3px;
}

#games li:nth-child(2n) {
  background: #fff
}

.game-list p {
  position: fixed;
  left: 0;
  top: 0
}

.col-8 {
  position: fixed;
  display: inline-block;
  margin: 0;
  padding: 50px;
  width: 66%;
  height: 100vh;
}

.col-4 {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 33%;
  height: 100vh;
  float: right;
}

.container {
  margin: 0;
  width: 100%;
}

.btn {
  border-radius: 2px !important;
}

.your-turn {
  background: #00960c !important;
  color: #FFF;
}

.player-exit {
  background: #960000 !important;
  color: #FFF;
}

div#game {
  position: relative;
}

div#board {
  float: left;
  height: 386x;
  width: 386px;
  border-style: solid;
  border-width: 9px;
  border-color: #DEB887;
}

div.square {
  float: left;
  position: relative;
  width: 46px;
  height: 46px;
  border-width: 2px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #444;
}

div.square.movable:hover {
  -webkit-box-shadow: inset 0px 0px 8px #FFD700;
  -moz-box-shadow: inset 0px 0px 8px #FFD700;
  box-shadow: inset 0px 0px 8px #FFD700;
  cursor: pointer;
}

/* the bottom row */

div.square:nth-last-child(-n + 8) {
  border-bottom-style: none;
}

/* the sides */

div.square:nth-child(8n) {
  border-right-style: none;
}

div.square.light {
  background-color: #ccc;
}

div.square.dark {
  background-color: #333;
}

div#pieces {
  position: absolute;
  /* 9 px puts us inside of the board's borders;*/
  left: 9px;
  top: 9px;
  background-color: green;
}

div.piece {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 7px;
  -webkit-box-shadow: 0px 0px 3px #666;
  -moz-box-shadow: 0px 0px 3px #666;
  box-shadow: 0px 0px 3px #666;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: blue;
}

div.piece:hover {
  -webkit-box-shadow: 0px 0px 8px #FFD700;
  -moz-box-shadow: 0px 0px 8px #FFD700;
  box-shadow: 0px 0px 8px #FFD700;
  cursor: pointer;
}

div.piece.selected {
  -webkit-box-shadow: 0px 0px 8px #FFD700;
  -moz-box-shadow: 0px 0px 8px #FFD700;
  box-shadow: 0px 0px 8px #FFD700;
}

div.piece.light {
  background-color: red;
}

div.piece.king {
  background-image:url('http://i.imgur.com/HYQkl.png');
  background-repeat:no-repeat;
  background-position:center;
}

div.piece.dark {
  background-color: black;
}

div#meta {
  float: right;
}

